<div>
	<form [formGroup]="forgotPasswordForm" (submit)="submitForgotPasswordForm($event)">
		<p class="mat-h3 margin-top-1rem">Enter the email associated with your account</p>
		<mat-form-field class="margin-top-1rem width-80pct">
			<input matInput placeholder="Email" formControlName="email">
			<mat-error>Please enter the email associated with your account</mat-error>
		</mat-form-field>
		<button
			mat-flat-button color="primary"
			class="margin-top-1rem width-80pct"
			type="submit"
			[disabled]="isLoading">
			<mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="border-radius: 10px 10px 0px 0px;"></mat-progress-bar>
			Submit
		</button>
	</form>
	<button class="action-text margin-top-1rem" (click)="showLoginForm()">
		Back to login
	</button>
</div>