<h1 mat-dialog-title>        
    <mat-toolbar role="toolbar" class="task-header">
        <span>{{modalHeaderText}}</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon mat-list-icon>close</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteContact()" *ngIf="modalParameters.isEdit">
            <mat-icon mat-list-icon>delete</mat-icon>
        </button>
    </mat-toolbar>
</h1>
<div mat-dialog-content>
    <form [formGroup]="contactDetailsForm" (ngSubmit)="onSubmit()" id="addContactForm">
        <mat-form-field class="full-width">
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="firstName.invalid && firstName.touched">
                Please provide a first name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="lastName.invalid && lastName.touched">
                Please provide a last name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Phone Number" formControlName="phoneNumber">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Email Address" formControlName="emailAddress">
            <mat-error *ngIf="email.invalid && email.touched">
                Please provide a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Address" formControlName="streetAddress">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Occupation" formControlName="occupation">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!contactDetailsForm.valid" form="addContactForm">
        {{modalPrimaryButtonText}}
    </button>
</div>
